<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>URL Shortener</title>
</head>
<body>
    <div class="container">
        <h1>Link too long? Shorten it.</h1>
        <form action="/short-urls" method="post">
            <label for="full-url">Enter URL:</label>
            <input type="text" id="full-url" name="fullUrl" required>
            <input type="submit" class="btn" value="Shorten">
        </form>  
        <hr>
        <p>&copy; codeHokage 2022</p>
    </div>

    <div class="find-details">
        <h3>Shortened a link before? Get details.</h3>
        <form action="/short-details" method="post" id="details-form">
            <label for="">Enter shorturl path:</label>
            <section class="inline-form">
                <p>shortly-88oa.onrender.com/</p>
                <input type="text" required placeholder="e.g gi2swa1vX" name="checkShort" id="shorturl">
            </section>
            <input type="submit" value="Get Details" class="btn" id="details-btn">
        </form>
    </div>
</body>
</html>