<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>URL Shortener</title>
</head>
<body>
    <div class="container">
        <h1>Here you go!</h1>
        <div class="info">
            <p>Full URL: <a href="<%= newUrl.fullUrl %>"><%= newUrl.fullUrl %></a> </p>
            <p>Short URL: <a href="<%= newUrl.shortUrl %>">shortly-88oa.onrender.com/<%= newUrl.shortUrl %></a> </p>
        </div>
        <hr>
        <p>&copy; codeHokage 2022</p>
    </div>
</body>
</html>